{% extends 'base.html.twig' %}
{% macro printPlayerFieldsRow( playerFields ) %}
    <li class="item">
        <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
            <span class="fa fa-close">X</span>
        </a>
        {{ form_errors( playerFields ) }}
        {{ form_label( playerFields.number, 'forms.player.fields.number' ) }}
        {{ form_widget( playerFields.number ) }}
        {{ form_label( playerFields.type, 'forms.player.fields.type', {'translation_domain': 'messages'} ) }}
        {{ form_widget( playerFields.type ) }}
        {{ form_label( playerFields.name, 'forms.player.fields.name' ) }}
        {{ form_widget( playerFields.name ) }}
        {{ form_rest( playerFields ) }}
    </li>
{% endmacro %}
{% import _self as formMacros %}
{% block body %}
    <h1>Edit {{ team.name }}</h1>
    <h2>{{ team|roster_name|trans({}, team|rule_key) }} - {{ team.championship ? team.championship.name : team|rule_key }}</h2>
    {{ form_start( form ) }}
    {{ form_errors( form ) }}
    <div>
        {{ form_label( form.name, 'forms.team.fields.name') }}
        {{ form_widget( form.name ) }}
        {{ form_errors( form.name ) }}
    </div>
    <div>
        {{ form_label( form.anthem, 'forms.team.fields.anthem') }}
        {{ form_widget( form.anthem ) }}
        {{ form_errors( form.anthem ) }}
    </div>
    <div>
        {{ form_label( form.fluff, 'forms.team.fields.fluff') }}
        {{ form_widget( form.fluff ) }}
        {{ form_errors( form.fluff ) }}
    </div>
    <div class="attach-collection-actions">
        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#players-fields-list">Add another player</button>
        <ul id="players-fields-list"
            data-prototype="{{ formMacros.printPlayerFieldsRow(form.players.vars.prototype)|e('html_attr') }}"
            data-widget-counter="{{ form.players|length }}">
            {% for playerFields in form.players %}
                {{ formMacros.printPlayerFieldsRow( playerFields ) }}
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ form_label( form.rerolls, 'forms.team.fields.rerolls') }}
        {{ form_widget( form.rerolls ) }}
        {{ form_errors( form.rerolls ) }}
    </div>
    <div>
        {{ form_label( form.popularity, 'forms.team.fields.popularity') }}
        {{ form_widget( form.popularity ) }}
        {{ form_errors( form.popularity ) }}
    </div>
    <div>
        {{ form_label( form.apothecary, 'forms.team.fields.apothecary') }}
        {{ form_widget( form.apothecary ) }}
        {{ form_errors( form.apothecary ) }}
    </div>
    <div>
        {{ form_label( form.cheerleaders, 'forms.team.fields.cheerleaders') }}
        {{ form_widget( form.cheerleaders ) }}
        {{ form_errors( form.cheerleaders ) }}
    </div>
    <div>
        {{ form_label( form.assistants, 'forms.team.fields.assistants') }}
        {{ form_widget( form.assistants ) }}
        {{ form_errors( form.assistants ) }}
    </div>
    {{ form_rest( form ) }}
    <input type="submit" value="Submit" />
    {{ form_end( form ) }}
{% endblock %}
{% block javascripts %}
    {% include 'partials/collection-js.html.twig' %}
{% endblock %}
