<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('built/app.min.css') }}" />
    </head>
    <body>
        <header>
            <h1>{{ 'layout.manager_title'|trans|raw }}</h1>
            <nav id="navigation" class="clearfix">
                <ul>
                    <li><a href="{{ path("homepage") }}">{{ 'layout.nav_menu.dashboard'|trans|raw }}</a></li>
                    <li><a href="#">{{ 'layout.nav_menu.my_contest'|trans|raw }}</a></li>
                    <li><a href="{{ path("ligue_homepage") }}">{{ 'layout.nav_menu.tournaments'|trans|raw }}</a></li>
                    <li><a href="{{ path("coach_space") }}">{{ 'layout.nav_menu.coach_space'|trans|raw }}</a></li>
                </ul>
            </nav>
        </header>
        <div id="content" class="clearfix">{% block body %}{% endblock %}</section>
        <footer></footer>
        {% block javascripts %}{% endblock %}
        <script async type="text/javascript" src="{{ asset('built/app.min.js') }}"></script>
    </body>
</html>
