
                            <table class="stats-container clearfix">
                                <tr>
                                    <td class="block-main-stats">
                                        <table class="stats-table main-stats clearfix">
                                            <tr>
                                                <td>
                                                    <span class="label">{{ 'layout.values.tr'|trans }}</span>
                                                    <span class="value">{{ journey ? journey.tr : '0' }}</span>
                                                </td>
                                                <td>
                                                    <span class="label">{{ 'layout.values.treasure'|trans }}</span>
                                                    <span class="value">{{ journey ? journey.treasure|bbkpo|raw : '-' }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table class="stats-table clearfix">
                                            <tr>
                                                <td>
                                                    <table class="clearfix details-table">
                                                        <tr>
                                                            <td class="stats-table-like">
                                                                <span class="label">{{ 'layout.values.points'|trans }}</span>
                                                                <span class="value">{{ journey ? journey.points : '-' }}</span>
                                                            </td>
                                                            <td>
                                                                <table class="clearfix lines-table">
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label">{{ 'layout.values.victory'|trans }}</span>
                                                                            <span class="value positive">{{ journey ? journey.winMatch : '-' }}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label">{{ 'layout.values.draw'|trans }}</span>
                                                                            <span class="value nul">{{ journey ? journey.drawMatch : '-' }}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label">{{ 'layout.values.lost'|trans }}</span>
                                                                            <span class="value negative">{{ journey ? journey.lostMatch : '-' }}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="clearfix details-table">
                                                        <tr>
                                                            <td>
                                                                <span class="label">{{ 'layout.values.touchdown'|trans }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="value positive">{{ journey ? journey.tdGive : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="value negative">{{ journey ? journey.tdTake : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="clearfix details-table">
                                                        <tr>
                                                            <td>
                                                                <span class="label">{{ 'layout.values.injury'|trans }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="value positive">{{ journey ? journey.injuryGive : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="value negative">{{ journey ? journey.injuryTake : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="clearfix lines-table">
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label">{{ 'layout.values.pass'|trans }}</span>
                                                                <span class="value positive">{{ journey ? journey.pass : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="label">{{ 'layout.values.cards'|trans }}</span>
                                                                <span class="value negative">{{ journey ? journey.redCard : '-' }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
