{% extends 'base.html.twig' %}
{% block body %}
    {% include 'form/encounter/encounter-steps.html.twig' with { 'creating': true } only %}
    <h1>Add encounter to {{ championship.name }}</h1>
    {% form_theme form 'form/ui-form.html.twig' %}
    {% if form.vars.errors is not empty %}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_start( form, {'attr': {'class': 'ui form'}} ) }}
    <div class="two fields">
        <div class="field">
            {{ form_label( form.home_team ) }}
            {{ form_widget( form.home_team, {'attr': {'class': 'ui dropdown'}} ) }}
            {{ form_errors( form.home_team ) }}
        </div>
        <div class="field">
            {{ form_label( form.visitor_team ) }}
            {{ form_widget( form.visitor_team, {'attr': {'class': 'ui dropdown'}} ) }}
            {{ form_errors( form.visitor_team ) }}
        </div>
    </div>
    {{ form_rest( form ) }}
    <input type="submit" class="ui button green" value="Submit" />
    {{ form_end( form ) }}
{% endblock %}