{% extends 'base.html.twig' %}
{% macro printInjuryFieldRow( injuryFields ) %}
    <li class="item">
        <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
            <span class="fa fa-close">X</span>
        </a>
        {{ form_errors( injuryFields ) }}
        {{ form_row(injuryFields) }}
    </li>
{% endmacro %}
{% macro printActionFieldsRow( playerFields, index ) %}
    {% import _self as forms %}
    <div class="item">
        {{ form_errors( playerFields ) }}
        <div class="inline fields">
            <div class="field">
                <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
                    <i class="ui icon close red"></i>
                </a>
            </div>
            <div class="field">{{ form_row( playerFields.player ) }}</div>
            {% for field in playerFields.actions.children %}
                <div class="field">{{ form_row( field ) }}</div>
            {% endfor %}
            <div class="field attach-collection-actions">

                {{ form_label( playerFields.injuries ) }}
                {{ form_errors( playerFields.injuries ) }}
                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#injury-fields-list-{{ index }}">Add an injury</button>
                <ul id="injury-fields-list-{{ index }}"
                    data-widget-counter="{{ playerFields.injuries|length }}"
                    data-prototype="{{ forms.printInjuryFieldRow(playerFields.injuries.vars.prototype)|e('html_attr') }}">
                    {% for injury in playerFields.injuries %}
                        {{ forms.printInjuryFieldRow(injury) }}
                    {% else %}
                        {{ form_widget( playerFields.injuries ) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}
{% import _self as formMacros %}
{% block body %}
    {% include 'form/encounter/encounter-steps.html.twig' with { 'completing': true } only %}
    <h1>Edit encounter to {{ championship.name }}</h1>
    {% form_theme form 'form/ui-form.html.twig' %}
    {% if form.vars.errors is not empty %}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_start( form, {'attr': {'class': 'ui form'}}) }}
    <div class="two fields">
        <div class="field">
            <h2>{{ encounter.homeTeam.name }}</h2>
            <div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-account-group"></i>
                        Populatiry : {{ encounter.homeTeam.popularity }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-chevron-double-up"></i>
                        TR : {{ encounter.homeTeam|tr }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-dice-4"></i>
                        Rerolls : {{ encounter.homeTeam.rerolls }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-skull-crossbones"></i>
                        Apothecary : {{ encounter.homeTeam.apothecary|yesno }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-party-popper"></i>
                        Cheerleaders : {{ encounter.homeTeam.cheerleaders }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-clipboard-flow"></i>
                        Assistants : {{ encounter.homeTeam.assistants }}
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <h2>{{ encounter.visitorTeam.name }}</h2>
            <div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-account-group"></i>
                        Populatiry : {{ encounter.visitorTeam.popularity }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-chevron-double-up"></i>
                        TR : {{ encounter.visitorTeam|tr }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-dice-4"></i>
                        Rerolls : {{ encounter.visitorTeam.rerolls }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-skull-crossbones"></i>
                        Apothecary : {{ encounter.visitorTeam.apothecary|yesno }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <i class="icon big mdi mdi-party-popper"></i>
                        Cheerleaders : {{ encounter.visitorTeam.cheerleaders }}
                    </div>
                    <div class="field">
                        <i class="icon big mdi mdi-clipboard-flow"></i>
                        Assistants : {{ encounter.visitorTeam.assistants }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="players-actions-collection two fields">
        <div class="home-actions field">
            <div class="attach-collection-actions">
                {{ 'forms.encounter.fields.team_actions'|trans({'%team_name%': encounter.homeTeam.name}) }}

                {{ form_label( form.home_actions ) }}
                {{ form_errors( form.home_actions ) }}
                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#actions-fields-list-home">Add another home action</button>
                <div id="actions-fields-list-home"
                    data-widget-counter="{{ form.home_actions|length }}"
                    data-prototype="{{ formMacros.printActionFieldsRow(form.home_actions.vars.prototype, 'home-__name__')|e('html_attr') }}">
                    {% for action in form.home_actions %}
                        {{ formMacros.printActionFieldsRow(action, 'home-'~(loop.index-1)) }}
                    {% else %}
                        {{ form_widget( form.home_actions ) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="visitor-actions field">
            <div class="attach-collection-actions">
                {{ 'forms.encounter.fields.team_actions'|trans({'%team_name%': encounter.visitorTeam.name}) }}
                {{ form_label( form.visitor_actions ) }}
                {{ form_errors( form.visitor_actions ) }}
                <button type="button"
                        class="add-another-collection-widget"
                        data-list-selector="#actions-fields-list-visitor">Add another visitor action</button>
                <div id="actions-fields-list-visitor"
                    data-widget-counter="{{ form.visitor_actions|length }}"
                    data-prototype="{{ formMacros.printActionFieldsRow(form.visitor_actions.vars.prototype, 'visitor-__name__')|e('html_attr') }}">
                    {% for action in form.visitor_actions %}
                        {{ formMacros.printActionFieldsRow(action, 'visitor-'~(loop.index-1)) }}
                    {% else %}
                        {{ form_widget( form.visitor_actions ) }}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    {{ form_rest( form ) }}
    <input type="submit" value="Submit" />
    {{ form_end( form ) }}
{% endblock %}