{% extends 'BbLigueBundle:Layout:layout.html.twig' %}
{% block body %}
{% use 'BbLigueBundle:Layout:forms/form_div_layout.html.twig' with form_errors %}
<section id="content-form" class="content has-steps normal-content clearfix">
    <header class="section-header clearfix padding-me">
        <h1 class="section-title">{% trans from 'form' %}form.rule.add.title{% endtrans %}</h1>
    </header>
    {{ form_start(form, {attr: {class: 'ui form'} }) }}
            {{form_errors(form)}}
            <div class="field">
                {{form_label(form.name, 'form.rule.label.name')}}
                {{form_widget(form.name)}}
                {{form_errors(form.name)}}
            </div>
            <div class="field">
                {{form_label(form.rule_key, 'form.rule.label.rule_key')}}
                {{form_widget(form.rule_key)}}
                {{form_errors(form.rule_key)}}
            </div>
            {% if form.base_rule is defined %}
            <div class="field">
                {{form_label(form.base_rule, 'form.rule.label.base_rule')}}
                {{form_widget(form.base_rule, {'attr': {class: 'ui fluid dropdown'} })}}
                {{form_errors(form.base_rule)}}
            </div>
            {% endif %}
            <div class="field">
                {{form_label(form.description, 'form.rule.label.description')}}
                {{form_widget(form.description)}}
                {{form_errors(form.description)}}
            </div>
            <div>
                {{form_widget(form.save, {'label': 'form.rule.add.submit', 'attr': {class: 'ui button'}})}}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
