{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% trans_default_domain "form" %}
{% form_theme form 'BbLeagueBundle:Form:form_div_layout.html.twig' %}
{% block title %}{% trans with {'%name%': team.name} from 'form' %}form.team.edit.title{% endtrans %}{% endblock %}
{% block body %}
<section id="content-form" class="content has-steps normal-content clearfix">
    <header class="section-header clearfix padding-me">
        <h1 class="section-title">{% trans with {'%name%': team.name} from 'form' %}form.team.edit.title{% endtrans %}</h1>
    </header>
    {{ form_start(form) }}
        <div class="ui form">
            <div class="field">
                {{form_label(form.name, 'form.team.label.name')}}
                {{form_widget(form.name)}}
                {{form_errors(form.name)}}
            </div>
            <div class="field">
                {{form_label(form.logo, 'form.team.label.logo')}}
                {{form_widget(form.logo)}}
                {{form_errors(form.logo)}}
            </div>
            <div class="field">
                {% for player in form.players %}
                    {{form_widget(player)}}
                    {{form_errors(player)}}
                {% endfor %}
            </div>
            <div class="field">
                {{form_widget(form.save, {'label': 'form.league.edit.submit', 'attr': {class: 'ui button'}})}}
            </div>
        </div>
    {{ form_end(form) }}
</section>
{% endblock %}
