{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% block title %}{{ 'layout.coach_space.index.my_teams'|trans }}{% endblock %}
{% block body %}
    <section id="espace-coach" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ 'layout.coach_space.index.my_teams'|trans }}</h1>
            <ul class="section-actions">
                <li><a class="button button-basic" href="{{ path("coach_team_add") }}">{{ 'layout.coach_space.index.team_add'|trans }}</a></li>
            </ul>
        </header>
        <div class="teams clearfix">
            {% for team in coach.teams %}
                {% set dictionnary = team.league.rule %}
                <article class="team clearfix padding-me">
                    <div class="wrapper relative clearfix">
                        <header class="team-header clearfix">
                            {% if team.logo %}
                                <a class="team-logo link" href="{{ path("team_detail", {team: team.id}) }}">
                                <img src="{{ team.webPath | imagine_filter('sheet') }}" />
                            </a>
                            {% else %}
                                <a class="team-logo link no-logo" href="{{ path("team_detail", {team: team.id}) }}">
                                {{ include('BbLeagueBundle:Layout:Icons/logo-league.html.twig') }}
                            </a>
                            {% endif %}
                            <h3 class="team-name">
                                <a class="link" href="{{ path("team_detail", {team: team.id}) }}">{{ team.name }}</a>
                            </h3>
                            <div class="team-metas clearfix">
                                <span class="race">
                                    {% set racename = 'lrb6.rosters.' ~ team.roster ~ '.title' %}
                                    {{ racename|trans({},dictionnary) }}
                                </span>
                                <span class="league"><span class="name">{{ team.league.name }}</span> <span class="format">(Format)</span></span>
                            </div>
                        </header>
                        <footer class="team-footer clearfix">
                            <ul class="team-actions">
                                {% if not team.valid %}
                                    <li><a class="button button-ok"
                                           href="{{ path("coach_team_edit", {team: team.id}) }}">{{ 'layout.coach_space.index.team_edit'|trans }}</a>
                                    </li>{% endif %}
                                <li><a class="button button-not" href="#">{{ 'layout.coach_space.index.team_delete'|trans }}</a></li>
                            </ul>
                        </footer>
                        <div>
                            {% include 'BbLeagueBundle:Team:journey-table.html.twig' with {journey: team.getLastJourney, team: team, dictionnary: dictionnary} %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
