{% extends 'base.html.twig'%}

{% macro printInvitationRow(invitationFields) %}
    <li class="item">
        <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
            <span class="fa fa-close">X</span>
        </a>
        {{ form_errors( invitationFields ) }}
        {{ form_label( invitationFields.email, 'forms.invitation.fields.email' ) }}
        {{ form_widget( invitationFields.email ) }}
    </li>
{% endmacro %}
{% import _self as formMacros %}
{% block body %}
    <h1>{{ championship.name }}</h1>
    <h2>{{ championship.format|trans }}</h2>
    {% form_theme form 'manage/form/custom_form.html.twig' %}
    {{ form_start( form ) }}
    <div>
        {{ form_label( form.name, 'forms.championship.fields.name') }}
        {{ form_widget( form.name ) }}
        {{ form_errors( form.name ) }}
    </div>
    <div>
        {{ form_label( form.tie_break_1, 'forms.championship.fields.tie_break_1') }}
        {{ form_widget( form.tie_break_1 ) }}
        {{ form_errors( form.tie_break_1 ) }}
    </div>
    <div>
        {{ form_label( form.tie_break_2, 'forms.championship.fields.tie_break_2') }}
        {{ form_widget( form.tie_break_2 ) }}
        {{ form_errors( form.tie_break_2 ) }}
    </div>
    <div>
        {{ form_label( form.tie_break_3, 'forms.championship.fields.tie_break_3') }}
        {{ form_widget( form.tie_break_3 ) }}
        {{ form_errors( form.tie_break_3 ) }}
    </div>
    <div>
        {{ form_label( form.is_private, 'forms.championship.fields.is_private') }}
        {{ form_widget( form.is_private ) }}
        {{ form_errors( form.is_private ) }}
    </div>
    <div>
        {{ form_label( form.is_locked, 'forms.championship.fields.is_locked') }}
        {{ form_widget( form.is_locked ) }}
        {{ form_errors( form.is_locked ) }}
    </div>
    <div class="attach-collection-actions">
        {{ form_errors( form.invitations ) }}
        {{ form_label( form.invitations, 'forms.championship.fields.invitations') }}
        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#invitations-fields-list">Add another invitation</button>
        <ul id="invitations-fields-list"
            data-prototype="{{ formMacros.printInvitationRow(form.invitations.vars.prototype)|e('html_attr') }}"
            data-widget-counter="{{ form.invitations|length }}">
            {% for invitation in form.invitations %}
                {{ formMacros.printInvitationRow(invitation) }}
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ form_label( form.guests,  'forms.championship.fields.guests') }}
        {{ form_widget( form.guests ) }}
    </div>
    {{ form_rest( form ) }}
    <input type="submit" value="Submit" />
    {{ form_end( form ) }}
{% endblock %}
{% block javascripts %}
    {% include 'partials/collection-js.html.twig' %}
{% endblock %}