{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}

{% block body %}
    <section id="content-form" class="content normal-content clearfix">
        <ul>
            {% for i, team in coach.teams %}
                <li class="{{ cycle(['odd', 'even'], i) }}">
                    <h2>{{ team.name }}</h2>
                    <ul>
                        {% for j, encounter in team.encounters %}
                            <li class="{{ cycle(['odd', 'even'], j) }}">
                                {{ encounter.journey.name }}
                                <div>{{ encounter.team.name }} VS {{ encounter.visitor.name }}</div>
                                {% if team.league.currentJourney >= encounter.journey %}
                                    <div>
                                        {% if encounter.valid %}
                                            Journée close
                                        {% else %}
                                            <a class="button button-basic"
                                               href="{{ path('encounter_sheet', {encounter: encounter.id}) }}">{{ 'layout.leagues.index.show_sheet'|trans }}</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock body %}
