{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% form_theme sheet 'BbLeagueBundle:Form:form_div_layout.html.twig' %}
{% set dictionnary = encounter.journey.league.rule %}
{% block body %}

<section id="content-form" class="content normal-content clearfix">
    <header class="section-header clearfix padding-me">
        <h1 class="section-title">{% trans from 'form' %}form.encounter.sheet.title{% endtrans %}</h1>
    </header>
    <div id="encoutersheet" class="clearfix">
        {{ form_start(sheet, {attr: {class: 'ui form'}}) }}
        {{ form_errors(sheet) }}
        <div class="ui two column stackable grid clearfix">
            <div class="left-part column home">
                <h2 class="title team-name">{{ encounter.team.name }}</h2>
                <div class="head-informations clearfix">
                    {% if encounter.team.logo %}
                        <span class="team-logo">
                            <img src="{{ encounter.team.webPath | imagine_filter('dashboard_logo') }}"/>
                        </span>
                    {% else %}
                        <span class="team-logo no-logo">
                            {{ include('BbLeagueBundle:Layout:Icons/logo-league.html.twig') }}
                        </span>
                    {% endif %}
                    <div class="core clearfix">
                        <div class="tr base-stat-table center-all big-value">
                            <span class="label">{{ 'layout.values.tr'|trans }}</span>
                            <span class="value">{{ encounter.team.getLastJourney ? encounter.team.getLastJourney.tr : '0' }}</span>
                        </div>
                        <div class="treasure base-stat-table center-all big-value">
                            <span class="label">{{ 'layout.values.treasure'|trans }}</span>
                            <span class="value">{{ encounter.team.getLastJourney ? encounter.team.getLastJourney.treasure|bbkpo(dictionnary)|raw : '-' }}</span>
                        </div>
                    </div>
                    <div>
                        <span class="label">Pop</span>
                        <span class="value">{{ encounter.team.getLastJourney ? encounter.team.getLastJourney.popularity : '-' }}</span>
                    </div>
                </div>
            </div>
            <div class="right-part column visitor">
                <h2 class="title team-name">{{ encounter.visitor.name }}</h2>
                <div class="head-informations clearfix">
                    {% if encounter.visitor.logo %}
                        <span class="team-logo">
                            <img src="{{ encounter.visitor.webPath | imagine_filter('dashboard_logo') }}"/>
                        </span>
                    {% else %}
                        <span class="team-logo no-logo">
                            {{ include('BbLeagueBundle:Layout:Icons/logo-league.html.twig') }}
                        </span>
                    {% endif %}
                    <div class="core clearfix">
                        <div class="tr base-stat-table center-all big-value">
                            <span class="label">{{ 'layout.values.tr'|trans }}</span>
                            <span class="value">{{ encounter.visitor.getLastJourney ? encounter.visitor.getLastJourney.tr : '0' }}</span>
                        </div>
                        <div class="treasure base-stat-table center-all big-value">
                            <span class="label">{{ 'layout.values.treasure'|trans }}</span>
                            <span class="value">{{ encounter.visitor.getLastJourney ? encounter.visitor.getLastJourney.treasure|bbkpo(dictionnary)|raw : '-' }}</span>
                        </div>
                    </div>
                    <div>
                        <span class="label">Pop</span>
                        <span class="value">{{ encounter.visitor.getLastJourney ? encounter.visitor.getLastJourney.popularity : '-' }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% block encounterstep %}
        {% endblock %}
    </div>
</section>
{% endblock body %}
{% block javascripts %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered

        $(document).ready(function () {
            $('#encoutersheet select').dropdown();
            $('#encoutersheet .add-another-action').click(function (e) {
                e.preventDefault();

                var thelist = $($(e.currentTarget).attr('list-selector'));
                var thecount = parseInt($(e.currentTarget).attr('list-count'));
                // grab the prototype template
                var newWidget = thelist.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, thecount);
                $(e.currentTarget).attr('list-count', thecount + 1);

                // create a new list element and add it to the list
                var newLi = $(newWidget);
                var widgetId = newLi.attr('id');
                $(".delrow", newLi).attr('href', '#' + widgetId);
                newLi.appendTo(thelist);
                $(".delrow", newLi).click(function (e) {
                    e.preventDefault();
                    var lineId = $(e.currentTarget).attr('href');
                    $(lineId).remove();
                    return false;
                });
                $('select', newLi).dropdown();
            });
            $("#encoutersheet .lineaction .delrow").click(function (e) {
                e.preventDefault();
                var lineId = $(e.currentTarget).attr('href');
                $(lineId).remove();
                return false;
            });
        })
    </script>
{% endblock javascripts %}
