{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% block title %}{{ 'layout.dashboard.index.title'|trans }}{% endblock %}
{% block body %}
    <section id="dashboard" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ 'layout.dashboard.index.title'|trans }}</h1>
        </header>
        <div class="teams clearfix">
            {% for team in coach.teams %}
                {% set dictionnary = team.league.rule %}
                <article class="team clearfix padding-me">
                    <div class="wrapper relative clearfix">
                        <header class="team-header clearfix">
                            <h3 class="team-name"><a class="link"
                                                     href="{{ path('team_detail', {team: team.id}) }}">{{ team.name }}</a>
                            </h3>
                            <div class="team-metas clearfix">
                                <span class="league"><span class="name">{{ team.league.name }}</span> <span class="format">({{ team.league.format }})</span></span>
                            </div>
                        </header>
                        <div class="team-content clearfix">
                            {% if team.logo %}
                                <a class="team-logo link" href="{{ path('team_detail', {team: team.id}) }}">
                                <img src="{{ team.webPath | imagine_filter('dashboard_logo') }}" />
                            </a>
                            {% else %}
                                <a class="team-logo link no-logo" href="{{ path('team_detail', {team: team.id}) }}">
                                {{ include('BbLeagueBundle:Layout:Icons/logo-league.html.twig') }}
                            </a>
                            {% endif %}
                            <div class="team-matches">
                                <table class="matches clearfix">
                                    {% for i, encounter in team.encounters|slice(0, 5) %}
                                    <tr class="{{ cycle(['odd', 'even'], i) }}">
                                        <td class="journey">{{ encounter.journey.name }}</td>
                                        {% set versus = (encounter.team == team) ? encounter.visitor : encounter.team %}
                                        <td class="versus"><a class="link"
                                                              href="{{ path('team_detail', {team: versus.id}) }}"><span
                                                        class="team-name">{{ versus.name }}</span> <span
                                                        class="coach">{{ versus.coach.username }}</span></a></td>
                                        <td class="tr">{{ versus.getLastJourney.tr }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <a class="button button-ok see-all"
                                   href="{{ path('encounter_by_team', {team: team.id}) }}">{{ 'layout.dashboard.index.matches.see_all'|trans }}</a>
                            </div>
                            {% set last_journey = team.getLastJourney %}
                            <div class="team-stats clearfix">
                                <table class="stats-container clearfix">
                                    <tr>
                                        <td class="block-main-stats">
                                            <table class="stats-table main-stats clearfix">
                                                <tr>
                                                    <td>
                                                        <span class="label">{{ 'layout.values.tr'|trans }}</span>
                                                        <span class="value">{{ last_journey ? last_journey.tr : 0 }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="treso">
                                                        <span class="label">{{ 'layout.values.treasure'|trans }}</span>
                                                        <span class="value">{{ last_journey ? last_journey.treasure|bbkpo(dictionnary)|raw : 0 }}</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="chart">
                                            {% if team.getDashbordStats %}
                                            <div id="dashboard-chart-{{ team.id }}" class="dashboard-chart" chart-data="{{ team.getDashbordStats|json_encode }}" chart-title="Evolution de mon TR"></div>
                                            {% else %}
                                            Pas encore de match joué
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
