{% extends 'base.html.twig'%}
{% block body %}
    <h1>Encounter detail</h1>
    {% if is_granted('championship.manage', encounter.championship) and is_validation is defined %}
        <div class="confirm">
            <a href="{{ path('championship_manage_validate_encounter', {'championship': championship.id, 'encounter': encounter.id, 'confirm': 1})}}">Yes</a>
            -
            <a href="{{ path('championship_view_encounter', {'championship': championship.id, 'encounter': encounter.id})}}">No</a>
        </div>
    {% elseif is_granted('championship.manage', encounter.championship) and encounter.validatedAt is null %}
        <div class="actions">
            <ul>
                <li>
                    <a href="{{ path('championship_manage_validate_encounter', {'championship': championship.id, 'encounter': encounter.id})}}">Validate this encounter</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <ul>
        <li>{{ encounter.homeTeam.name }}</li>
        <li>VS</li>
        <li>{{ encounter.visitorTeam.name }}</li>
        <li>
            Home actions :
            <table>
                <tr>
                    <th>{{ 'player.number' }}</th>
                    <th>{{ 'player.name' }}</th>
                    <th>{{ 'actions.td' }}</th>
                    <th>{{ 'actions.cas' }}</th>
                    <th>{{ 'actions.pas' }}</th>
                    <th>{{ 'actions.int' }}</th>
                    <th>{{ 'actions.mvp' }}</th>
                </tr>
            {% set homeInjuries = [] %}
            {% for homeAction in encounter.homeActions %}
                <tr>
                    <td>{{ homeAction.player.number }}</td>
                    <td>{{ homeAction.player.name }}</td>
                    <td>{{ homeAction.actions.td }}</td>
                    <td>{{ homeAction.actions.cas }}</td>
                    <td>{{ homeAction.actions.pas }}</td>
                    <td>{{ homeAction.actions.int }}</td>
                    <td>{{ homeAction.actions.mvp }}</td>
                </tr>
                {% if homeAction.injuries %}{% set homeInjuries = homeInjuries|merge([homeAction]) %}{% endif %}
            {% else %}
                <tr>
                    <td colspan="7">No action</td>
                </tr>
            {% endfor %}
            </table>
        </li>
        <li>
            Visitor actions :
            <table>
                <tr>
                    <th>{{ 'player.number' }}</th>
                    <th>{{ 'player.name' }}</th>
                    <th>{{ 'actions.td' }}</th>
                    <th>{{ 'actions.cas' }}</th>
                    <th>{{ 'actions.pas' }}</th>
                    <th>{{ 'actions.int' }}</th>
                    <th>{{ 'actions.mvp' }}</th>
                </tr>
            {% set visitorInjuries = [] %}
            {% for visitorAction in encounter.visitorActions %}
                <tr>
                    <td>{{ visitorAction.player.number }}</td>
                    <td>{{ visitorAction.player.name }}</td>
                    <td>{{ visitorAction.actions.td }}</td>
                    <td>{{ visitorAction.actions.cas }}</td>
                    <td>{{ visitorAction.actions.pas }}</td>
                    <td>{{ visitorAction.actions.int }}</td>
                    <td>{{ visitorAction.actions.mvp }}</td>
                </tr>
            {% if visitorAction.injuries %}{% set visitorInjuries = visitorInjuries|merge([visitorAction]) %}{% endif %}
            {% else %}
                <tr>
                    <td colspan="7">No action</td>
                </tr>
            {% endfor %}
            </table>
        </li>
        <li>
            Home injuries :
            <ul>
            {% for line in homeInjuries %}
                <li>
                    {{ line.player.number }} -
                    {{ line.player.name }} -
                    {% set player_injuries = line.player.team|injury_effects(line.injuries) %}
                    {{ player_injuries.injuries|map(p => p.label|trans({}, player_injuries.dictionary)~' ('~p.effect|trans({}, player_injuries.dictionary)~')')|join(', ') }}
                </li>
            {% else %}
                <li>No injury</li>
            {% endfor %}
            </ul>
        </li>
        <li>
            Visitor injuries :
            <ul>
            {% for line in visitorInjuries %}
                <li>
                    {{ line.player.number }} -
                    {{ line.player.name }} -
                    {% set player_injuries = line.player.team|injury_effects(line.injuries) %}
                    {{ player_injuries.injuries|map(p => p.label|trans({}, player_injuries.dictionary)~' ('~p.effect|trans({}, player_injuries.dictionary)~')')|join(', ') }}
                </li>
            {% else %}
                <li>No injury</li>
            {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}