{% extends 'BbLigueBundle:Layout:layout.html.twig' %}
{% trans_default_domain "form" %}
{% block body %}
    <section id="espace-coach" class="content normal-content has-form add-team">
        <h1><span>Ajout de team</span> Hoooooo yeah</h1>

        {{ form_start(form) }}
            {{form_errors(form)}}
            <table>
                <tr>
                    <td>{{form_label(form.name, 'entity.team.label.name')}}</td>
                    <td>{{form_widget(form.name)}}</td>
                </tr>
                <tr>
                    <td>{{form_label(form.ligue, 'entity.team.label.ligue')}}</td>
                    <td>{{form_widget(form.ligue)}}</td>
                </tr>
            </table>
            <div>
                {{form_widget(form.save, {'label': 'entity.team.add.submit'})}}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
