{% extends 'BbLigueBundle:Layout:layout.html.twig' %}

{% block body %}
    <section id="espace-coach" class="content normal-content clearfix">
        <header class="section-header clearfix padding-me">
            <h1 class="section-title">{{ 'layout.coach_space.index.my_teams'|trans }}</h1>
            <ul class="section-actions">
                <li><a class="button button-basic" href="{{ path("team_add") }}">{{ 'layout.coach_space.index.team_add'|trans }}</a></li>
            </ul>
        </header>
        <div class="teams clearfix">
            {% for team in coach.teams %}
                <article class="team clearfix padding-me">
                    <div class="wrapper relative clearfix">
                        <header class="team-header clearfix">
                            <div class="team-logo">Le Logo</div>
                            <h3 class="team-name">{{ team.name }}</h3>
                            <div class="team-metas clearfix">
                                <span class="race">
                                    {% set racename = 'blood_bowl.rosters.' ~ team.roster ~ '.title' %}
                                    {{ racename|trans({},'bb-dictionnary') }}
                                </span>
                                <span class="ligue"><span class="name">{{ team.ligue.name }}</span> <span class="format">(Format)</span></span>
                            </div>
                        </header>
                        <footer class="team-footer clearfix">
                            <ul class="team-actions">
                                <li><a class="button button-ok" href="{{ path("team_edit", {team_id: team.id}) }}">{{ 'layout.coach_space.index.team_edit'|trans }}</a></li>
                                <li><a class="button button-not" href="#">{{ 'layout.coach_space.index.team_delete'|trans }}</a></li>
                            </ul>
                        </footer>
                        <div>
                            {% include 'BbLigueBundle:Team:journey-table.html.twig' with {journey: team.getLastJourney, team: team} %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
