{% extends 'BbLeagueBundle:Layout:layout.html.twig' %}
{% trans_default_domain "form" %}
{% form_theme form 'BbLeagueBundle:Form:form_div_layout.html.twig' %}
{% block body %}
<section id="content-form" class="content has-steps normal-content clearfix">
    <header class="section-header clearfix padding-me">
        <h1 class="section-title">{% trans from 'form' %}form.league.add.title{% endtrans %}</h1>
    </header>

    {{ form_start(form, {attr: {class: 'ui form'} }) }}
        {{ form_errors(form) }}
        <div class="field">
            {{form_label(form.name, 'form.league.label.name')}}
            {{form_widget(form.name)}}
            {{ form_errors(form.name) }}
        </div>
        <div class="field">
            {{form_label(form.rule, 'form.league.label.rule')}}
            {{form_widget(form.rule, {'attr': {class: 'ui fluid dropdown'} })}}
            {{ form_errors(form.rule) }}
        </div>
        <div class="field">
            {{form_label(form.format, 'form.league.label.format')}}
            {{form_widget(form.format, {'attr': {class: 'ui fluid dropdown'} })}}
            {{ form_errors(form.format) }}
        </div>
        <div class="field">
            {{form_label(form.points_for_win, 'form.league.label.points_for_win')}}
            {{form_widget(form.points_for_win) }}
            {{ form_errors(form.points_for_win) }}
        </div>
        <div class="field">
            {{form_label(form.points_for_draw, 'form.league.label.points_for_draw')}}
            {{form_widget(form.points_for_draw) }}
            {{ form_errors(form.points_for_draw) }}
        </div>
        <div class="field">
            {{form_label(form.points_for_lost, 'form.league.label.points_for_lost')}}
            {{form_widget(form.points_for_lost) }}
            {{ form_errors(form.points_for_lost) }}
        </div>
        <div class="field">
            {{form_label(form.number_of_journeys, 'form.league.label.number_of_journeys')}}
            {{form_widget(form.number_of_journeys) }}
            {{ form_errors(form.number_of_journeys) }}
        </div>
        <div class="field">
            {{form_label(form.number_for_playoff, 'form.league.label.number_for_playoff')}}
            {{form_widget(form.number_for_playoff) }}
            {{ form_errors(form.number_for_playoff) }}
        </div>
        <div class="field">
            {{form_label(form.tie_break_1, 'form.league.label.tie_break_1')}}
            {{form_widget(form.tie_break_1, {'attr': {class: 'ui fluid dropdown'} }) }}
            {{ form_errors(form.tie_break_1) }}
        </div>
        <div class="field">
            {{form_label(form.tie_break_2, 'form.league.label.tie_break_2')}}
            {{form_widget(form.tie_break_2, {'attr': {class: 'ui fluid dropdown'} }) }}
            {{ form_errors(form.tie_break_2) }}
        </div>
        <div class="field">
            {{form_label(form.tie_break_3, 'form.league.label.tie_break_3')}}
            {{form_widget(form.tie_break_3, {'attr': {class: 'ui fluid dropdown'} }) }}
            {{ form_errors(form.tie_break_3) }}
        </div>
        <div class="field">
            {{form_widget(form.save, {'label': 'form.league.add.submit', 'attr': {class: 'ui button'}})}}
        </div>
    {{ form_end(form) }}
</section>
{% endblock %}
