                            <div class="team-statistics clearfix">
                                <div class="core clearfix">
                                    <div class="tr clearfix base-stat-table center-all big-value">
                                        <span class="label">{{ 'layout.values.tr'|trans }}</span>
                                        <span class="value">{{ journey ? journey.tr : '0' }}</span>
                                    </div>
                                    <div class="treasure clearfix base-stat-table center-all big-value">
                                        <span class="label">{{ 'layout.values.treasure'|trans }}</span>
                                        <span class="value">{{ journey ? journey.treasure|bbkpo|raw : '-' }}</span>
                                    </div>
                                </div>
                                <div class="detail clearfix">
                                    <div class="points clearfix">
                                        <div class="base-stat-table clearfix center-all big-value">
                                            <span class="label">{{ 'layout.values.points'|trans }}</span>
                                            <span class="value">{{ journey ? journey.points : '-' }}</span>
                                        </div>
                                    </div>
                                    <div class="matchs clearfix">
                                        <div class="clearfix base-stat-table value-at-right">
                                            <div class="win">
                                                <div>
                                                    <span class="label">{{ 'layout.values.victory'|trans }}</span>
                                                    <span class="value positive">{{ journey ? journey.winMatch : '-' }}</span>
                                                </div>
                                            </div>
                                            <div class="draw">
                                                <div>
                                                    <span class="label">{{ 'layout.values.draw'|trans }}</span>
                                                    <span class="value draw">{{ journey ? journey.drawMatch : '-' }}</span>
                                                </div>
                                            </div>
                                            <div class="loose">
                                                <div>
                                                    <span class="label">{{ 'layout.values.lost'|trans }}</span>
                                                    <span class="value negative">{{ journey ? journey.lostMatch : '-' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="touchdowns clearfix">
                                        <div class="clearfix details-table base-stat-table center-all center-all">
                                            <div>
                                                <div>
                                                    <span class="label">{{ 'layout.values.touchdown'|trans }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="value positive">{{ journey ? journey.tdGive : '-' }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="value negative">{{ journey ? journey.tdTake : '-' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="injuries clearfix">
                                        <div class="clearfix base-stat-table center-all">
                                            <div>
                                                <div>
                                                    <span class="label">{{ 'layout.values.injury'|trans }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="value positive">{{ journey ? journey.injuryGive : '-' }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="value negative">{{ journey ? journey.injuryTake : '-' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="others clearfix">
                                        <div class="clearfix base-stat-table value-at-right">
                                            <div>
                                                <div class="label">&nbsp;</div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="label">{{ 'layout.values.pass'|trans }}</span>
                                                    <span class="value positive">{{ journey ? journey.pass : '-' }}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="label">{{ 'layout.values.cards'|trans }}</span>
                                                    <span class="value negative">{{ journey ? journey.redCard : '-' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
