<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
        <meta name="mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('built/libs.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('built/app.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('built/print.min.css') }}" />
    </head>
    <body>
        {% block struct %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('built/libs.min.js') }}"></script>
        <script async type="text/javascript" src="{{ asset('built/app.min.js') }}"></script>
    </body>
</html>
